.text {
    font-size: 36px;
    line-height: 60px;
    &_fz14 {
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
    }
    &_fz12 {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
    
}