.promo {
    min-height: 100vh;
    position: relative;
    background-color: #bce5f9;
    padding-top: 205px;
    z-index: 2;
    &__title {
        width: 535px;
        margin-top: 10px;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 314px;
    }
    &__link {
        color: #000;
        font-weight: bold;
        &:hover {
            color: #000;
            text-decoration: none;
        }
    }
    .hover {
        &:hover {
            background-color: #000;
            color: $main-color;
            transition: all 0.6s;
        }
    }
}
